<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678069758837-4t5i7dmbirk7uuiusrq8r16cis94dfhu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678069758837-4t5i7dmbirk7uuiusrq8r16cis94dfhu</string>
	<key>API_KEY</key>
	<string>AIzaSyD3dDcX4SdCrWnzHKNdfZH5NF7BLYeKsPM</string>
	<key>GCM_SENDER_ID</key>
	<string>678069758837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dashboardAnimalFoodWeb</string>
	<key>PROJECT_ID</key>
	<string>animalfoodchileaplicacion</string>
	<key>STORAGE_BUCKET</key>
	<string>animalfoodchileaplicacion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678069758837:ios:7a701c00e1ba305bad013c</string>
	<key>DATABASE_URL</key>
	<string>https://animalfoodchileaplicacion-default-rtdb.firebaseio.com</string>
</dict>
</plist>